<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseAddress" value="" />
    <add key="TokenAddress" value="" />
    <add key="ClientID" value="" />
    <add key="ClientSecret" value="" />
    <add key="Scope" value="" />
    <add key="Username" value="" />
    <add key="Password" value="" />
    <add key="Broker" value="" />
    <add key="Account" value="" />
  </appSettings>
</configuration>